<div class="ChromeNav">
  <a href="/" class="Logo">
    {{icon icon='32px-cloudbees-logo' classNames='Logo-Icon fill-brand-blue'}}</span>
    <div>
      <div class="Logo-Subtitle">CloudBees</div>
      <div class="Logo-Title">Design</div>
    </div>
  </a>
  {{#navGroup title='Guidelines' classNames='mt4'}}
    {{navItem 'getting-started' 'Getting started'}}
    {{navItem 'contributing' 'Contributing to the style guide'}}
    {{navItem 'design-principles' 'CloudBees design principles'}}
    {{navItem 'writing-style-guide' 'Writing style guide'}}
    {{navItem 'formatting-relative-time' 'Formatting relative time'}}
  {{/navGroup}}
  {{#navGroup title='Styles' classNames='mt2'}}
    {{navItem 'css-naming-convention' 'CSS naming convention'}}
  {{/navGroup}}
  {{#navGroup title='Components' classNames='mt2'}}
    {{navItem 'buttons' 'Buttons'}}
    {{navItem 'code-previews' 'Code previews'}}
  {{/navGroup}}
</div>
